.alert.alert-danger ul {
    margin-bottom: 0;
}

.copy {
    cursor: pointer;
}
.copy.badge, .copy .badge {
    text-align: left;
    white-space: normal;
    word-break: break-all;
}

table th a:after {
    content: "\2193";
    position: absolute;
    right: 5px;
    opacity: 0.3;
}
table th a:before {
    content: "\2191";
    position: absolute;
    right: 13px;
    opacity: 0.3;
}

table th a.desc:after {
    opacity: 1;
}
table th a.asc:before {
    opacity: 1;
}

table th {
    position: relative;
}
.daterangepicker.ltr .ranges {
    float: left;
}

span.no-pointdown.dropdown-toggle:after {
    display: none;
}
.dropdown-menu.show {
    max-height: 200px;
    overflow: auto;
}

.table .table {
    border: 1px solid #eef1f7;
    background: none;
}
.table .close-button {
    cursor: pointer;
}

ul.pagination {
    margin: 0 10px 10px;
}

@media (max-width: 991px) {
    .hor-header .header-brand {
        margin-left: 50px;
    }

    #header_username {
        text-align: right !important;
        min-width: 200px;
    }
    #header_avatar {
        display: none;
    }

    .header-message {
        min-width: 250px;
    }
}
@media (max-width: 470px) {
    .header-brand {
        display: none;
    }
    .card-img-top {
        max-width: 50%;
    }
}

.form-group label.control-label {
    display: block;
}
.no-label-block .form-group label.control-label {
    display: inline;
}

.report-form .panel, .report-form .kv-panel-before, .report-form .kv-panel-after {
    border: none;
}
.logo-heavy {
    font-size: 1.25rem;
    white-space: nowrap;
    font-weight: 600;
    line-height: 1.25rem;
    background: #000;
    padding: 20px 10px 32px;
    height: 35px;
    opacity: 0.4;
}
.logo-tracker {
    position: absolute;
    margin-top: 20px;
    margin-left: -62px;
    color: #000;
    opacity: 0.6;
}

.copy-input {
    cursor: pointer;
}

.input-group-btn {
    min-width: 65%;
}

.result {
    margin-top: 20px;
    font-size: large;
}

.help-block {
    color: red;
}
.total-price, .invoice-title-page {
    font-weight: bold;
    border-top: solid;
    border-bottom: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: auto;
}
.total-price {
    font-size: 36px;
}
.invoice-title-page {
    font-size: 20px;
}
.invoice-table-wrapper {
    width: 100%;
}
.invoice-table {
    width: 100%;
    margin-top:20px;
}
.invoice-table thead {
    font-size: 18px;
    text-transform: capitalize;
}

.status-history-wrapper p{
    margin: 5px 0 0 0;
}

#status-history {
    width: 450px;
    margin-top: 10px
}

.card .card-body .table td:first-child{
    min-width: 120px;
    width: 120px;
}
.token-str {
    display: inline-block;
    width: 90%;
}
#token-modal .fe-copy {
    cursor: pointer;
}

.hiddenParametrs {
    display: none;
}

.hiddenParametrs .form-line {
    width: 100px;
}

.checkbox {
    float: left;
    margin-right: 8px !important;
}

ul.app-sorter {
    display: inline;
}

ul.app-sorter {
    margin: 0;
    padding: 4px;
}
ul.app-sorter li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}


.blue-line {
    width: 100%;
    height: 30px;
    background-color: #3e73b9;
}

.mb-50px {
    margin-bottom: 50px;
}

.mb-30px {
    margin-bottom: 30px;
}

.table-invoice {
    width: 100%;
}

.invoice-pdf {
    height: 877px;
    width: 620px;
    margin: auto;
}

.body-pdf {
    height: 700px;
}

.body-pdf, .footer-pdf {
    width: 100%;
    margin: 0;
    padding: 1.5rem 1.5rem;
}
.footer-pdf {
    width: 100%;
    height: 170px;
}

.invoice-col-1, .invoice-col-2, .invoice-col-3 {
    float: left;
}

.invoice-col-1 {
    width: 60%;
}
.invoice-col-2 {
    width: 20%;
}
.invoice-col-3 {
    width: 19%;
}
.invoice-col-3 div {
    text-align: right;
}

@media (max-width: 660px) {
    .invoice-pdf {
        height: auto;
        width: 95%;
        margin: auto;
        font-size: 10px;
    }

    .body-pdf {
        height: auto;
    }

    .body-pdf, .footer-pdf {
        width: 100%;
        margin: 0;
        padding: 1.5rem 1.5rem;
    }
    .footer-pdf {
        width: 100%;
        height: 170px;
    }

    .invoice-col-1, .invoice-col-2, .invoice-col-3 {
        float: left;
    }

    .invoice-col-1 {
        width: 53%;
        padding-right: 3px;
    }
    .invoice-col-2 {
        width: 25%;
        padding-right: 3px;
    }
    .invoice-col-3 {
        width: 21%;
    }
    .invoice-col-3 div {
        text-align: right;
    }

    .total-price {
        font-size: 20px;
    }

    .invoice-table th {
        font-size: 14px;
    }
}

span.version {
    font-size: 10px;
    color: #ccc;
    position: absolute;
    right: 10px;
    top: 10px;
    text-transform: lowercase;
}

.application-title {
    overflow: hidden;
    height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dark-mode .logo-heavy,
.dark-mode .logo-tracker {
    color: #fff !important;
}
.replaced {
    font-size: 10px;
}
.badge-mr {
    margin-right: 3px;
}
.log-data-width {
    max-width: 800px;
}
.text-struck {
    text-decoration: line-through;
}

td img {
    max-width: 100%;
}

.card .card-body .table td:first-child {
    min-width: auto;
    width: auto;
}

table th a:before, table th a:after {
    display: none;
}

body.dark .select2-selection--single,
body.dark .select2-selection.select2-selection--multiple {
    background-color: #1b1b29;
    border: 1px solid #35354f;
    border-radius: 4px;
    height: 37px !important; }

body.dark .select2-dropdown {
    background-color: #2d2d40;
    border: none;
}

body.dark .select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: #1b1b29;
    border: none;
}

body.dark .select2-selection__rendered {
    padding: .3rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #c2c2d9 !important;
}

body.dark  .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #4a4d60;
}
body.dark .select2-selection__choice {
    background-color: #1b1b29 !important;
    border-color: #4a4d60 !important;
    margin-left: 2px;
}

span.select2-selection.select2-selection--multiple {
    display: inline-table ;
    width: 100%;
}

ul.select2-selection__rendered {
    flex-wrap: nowrap !important;
}

span.select2-selection__choice__display {
    white-space: nowrap !important;
}
.select2.select2-container.select2-container--default .selection {
    width: 100%;
    display: block;
}

.no-pointdown:after {
    display: none !important;
}

.all-screenshots {
    display: flex;
}

.all-screenshots .screenshot i {
    content: "x";
    color: #bb1111;
    border: 1px solid #bb1111;
    border-radius: 5px;
    padding: 0 7px;
    position: absolute;
    cursor: pointer;
    font-style: normal;
}


.light .bg-info-subtle {
    color: var(--bs-blue);
}

.card svg g[aria-labelledby*="title"] {
    display: none;
}